<launch>
    
    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find chisel_ros)../config/sample.rviz" />
    <include file="$(find server_pose_graph)/launch/multi_agent_azure_server.launch"/>
    <include file="$(find server_pose_graph)/launch/azure_rosbag.launch"/>
</launch>
